<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="/template/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Disciplina</ui:define>

    <ui:define name="corpo">
        <h:form id="form-cadastro">	 	
            <p:panel header="Cadastro de Usuário">
                <h:panelGrid id="panelGrid-campos-form" columns="2" border="0" cellspacing="5" cellpadding="5">

                    <p:outputLabel value="Nome Completo" for="inputText-nome"/>
                    <p:inputText id="inputText-nome" 
                                 size="50"
                                 value=""
                                 required="true" requiredMessage="Campo Nome é obrigatório"/>

                    <p:outputLabel value="E-mail" for="inputText-email"/>
                    <p:inputText id="inputText-email" 
                                 size="50"
                                 value=""
                                 required="true" requiredMessage="Campo Nome é obrigatório"/>

                    <p:outputLabel value="Matrícula" for="inputText-matricula"/>
                    <p:inputText id="inputText-matricula" 
                                 size="30" 
                                 value=""
                                 required="true" requiredMessage="Campo Matrícula é obrigatório"/>

                    <p:outputLabel  value="Senha" />
                    <p:password value=""
                                size="20"
                                maxlength="50"
                                required="true" requiredMessage="Campo Senha é obrigatório"/>

                    <p:outputLabel value="Confirmar Senha" />
                    <p:password  value=""
                                 size="20"
                                 maxlength="50"
                                 required="true" requiredMessage="Campo Confirme a Senha é obrigatório"/>

                    <p:outputLabel value="CPF" for="inputText-cpf"/>
                    <p:inputText id="inputText-cpf" 
                                 size="30" 
                                 value=""
                                 required="true" requiredMessage="Campo CPF é obrigatório"/>

                    <p:outputLabel value="RG" for="inputText-rg"/>
                    <p:inputText id="inputText-rg" 
                                 size="30" 
                                 value=""
                                 required="true" requiredMessage="Campo CPF é obrigatório"/>

                    <p:outputLabel for="selectOneRadio-sexo" value="Sexo:" />
                    <p:selectOneRadio id="selectOneRadio-sexo" 
                                      value=""
                                      required="true" requiredMessage="Campo Sexo é obrigatório" >

                        <f:selectItem itemLabel="Feminino" itemValue="f" />
                        <f:selectItem itemLabel="Masculino" itemValue="m" />            				
                    </p:selectOneRadio>

                    <p:outputLabel for="nivelacesso" value="Nível de Acesso:" />
                    <p:selectOneMenu id="nivelacesso" value="" >
                        <f:selectItem itemLabel="Selecione" itemValue="" />
                        <f:selectItem itemLabel="Administrador" itemValue="administrador" />
                        <f:selectItem itemLabel="Professor" itemValue="professor" />
                        <f:selectItem itemLabel="Monitor" itemValue="monitor" />
                        <f:selectItem itemLabel="Aluno" itemValue="aluno" />
                    </p:selectOneMenu>


                    <f:facet name="footer" >
                        <div class="botoes_cad">
                            <p:commandButton value="Cadastrar" 
                                             type="submit"
                                             id="commandButton-salvar"
                                             icon=""
                                             actionListener="#{cadastrarPessoaController.SalvarNovaPessoa}"
                                             update="panelGrid-campos-form"/>
                            <p:outputLabel value=""/>
                            <p:commandButton value="Cancelar"
                                             type="reset"
                                             id="commandButton-cancelar"
                                             icon=""
                                             actionListener="#{cadastrarPessoaController.SalvarNovaPessoa}"
                                             update="panelGrid-campos-form"/>

                        </div>
                    </f:facet>                       
                </h:panelGrid>
            </p:panel>

            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="warn"/>
            <p:messages autoUpdate="true" closable="true" severity="error"/>		
            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="info"/>

        </h:form>
    </ui:define>
</ui:composition>
