<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="/template/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Disciplina</ui:define>

    <ui:define name="corpo">
        <h:form id="form-cadastro">	 	
            <p:panel header="Cadastro de Disciplina">
                <h:panelGrid id="panelGrid-campos-form" columns="2" border="0" cellspacing="5" cellpadding="5">

                    <p:outputLabel value="Disciplina" for="inputText-disciplina"/>
                    <p:inputText id="inputText-disciplina" 
                                 style="width:300px" maxlength="70" 
                                 value=""
                                 required="true"
                                 requiredMessage="A DISCIPLINA é de preenchimento obrigatório"/>

                    <p:outputLabel for="selectOneRadio-semestre" value="Semestre:" />
                    <p:selectOneRadio id="selectOneRadio-semestre" 
                                      value=""
                                      required="true"
                                      requiredMessage="O SEMESTRE é de preenchimento obrigatório">

                        <f:selectItem itemLabel="1" itemValue="1" />
                        <f:selectItem itemLabel="2" itemValue="2" />            				
                    </p:selectOneRadio>

                    <p:outputLabel value="Ano" for="inputText-email"/>
                    <p:inputText id="inputText-email" 
                                 style="width:300px" 
                                 maxlength="4" 
                                 value=""
                                 required="true"
                                 requiredMessage="O ANO é de preenchimento obrigatório"/>           		


                    <p:outputLabel value="Período" for="inputText-periodo"/>
                    <p:selectOneMenu id="inputText-periodo" value="" >
                        <f:selectItem itemLabel="Selecione" itemValue="" />
                        <f:selectItem itemLabel="1º Período" itemValue="periodo_01" />
                        <f:selectItem itemLabel="2º Período" itemValue="periodo_02" />
                        <f:selectItem itemLabel="3º Período" itemValue="periodo_03" />
                        <f:selectItem itemLabel="4º Período" itemValue="periodo_04" />
                        <f:selectItem itemLabel="5º Período" itemValue="periodo_05" />
                        <f:selectItem itemLabel="6º Período" itemValue="periodo_06" />
                        <f:selectItem itemLabel="7º Período" itemValue="periodo_07" />
                        <f:selectItem itemLabel="8º Período" itemValue="periodo_08" />
                        <f:selectItem itemLabel="9º Período" itemValue="periodo_09" />
                        <f:selectItem itemLabel="10º Período" itemValue="periodo_10" />
                    </p:selectOneMenu>
                    
                    <p:outputLabel value="Status" for="inputText-statusDisc"/>
                    <p:inputText id="inputText-statusDisc" 
                                 style="width:300px" maxlength="70" 
                                 value=""
                                 required="true"
                                 requiredMessage="O STATUS é de preenchimento obrigatório"/>
                    
                    <f:facet name="footer" >
                        <div class="botoes_cad">
                            <p:commandButton value="Alterar" 
                                             type="button"
                                             id="commandButton-salvar"
                                             icon=""
                                             actionListener="#{cadastrarPessoaController.SalvarNovaPessoa}"
                                             update="panelGrid-campos-form"/>
                            <p:outputLabel value=""/>
                            <p:commandButton value="Cancelar"
                                             type="reset"
                                             id="commandButton-cancelar"
                                             icon=""
                                             actionListener="#{cadastrarPessoaController.SalvarNovaPessoa}"
                                             update="panelGrid-campos-form"/>

                        </div>
                    </f:facet>                       

                </h:panelGrid>
            </p:panel>

            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="warn"/>
            <p:messages autoUpdate="true" closable="true" severity="error"/>		
            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="info"/>

        </h:form>
    </ui:define>
</ui:composition>
