<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="/template/layout_login.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Login</ui:define>

    <ui:define name="corpo">
        <h:form styleClass="area_login">
            <!--            <p:growl id="growl" showDetail="true" sticky="true" /> -->

            <h:panelGrid columns="2"> 
                <p:outputLabel value="Usuário:" for="usuario_campo"/>
                <p:inputText id="usuario_campo"
                             value="#{LoginMB.login.login}" 
                             size="20"
                             maxlength="10"
                             required="true"/>

                <p:outputLabel value="Senha:" />
                <p:password value="#{LoginMB.login.senha}" 
                            size="20"
                            maxlength="50"
                            required="true"/>

                <!--                <p:growl id="growl" life="2000" />-->
                <p:commandLink id="nonAjax" actionListener="#{buttonView.buttonAction}" ajax="false" styleClass="links">
                    <p:outputLabel value="Esqueceu a senha?" />
                </p:commandLink>

                <f:facet name="footer">
                    <div id="box_botoes">
                        <p:commandButton value="Login" action="#{LoginMB.LogarNoSistema()}" />
                        <p:commandButton value="Cadastrar" action="newUsuario" />
                    </div>
                </f:facet>

            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
