<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <h:body>

        <h:form>
            <div>
                <f:facet name="header">
                    <p:outputLabel value="Tutorials Provided"></p:outputLabel>
                </f:facet>
            </div>
            <p:growl id="messages"/>

            <p:menubar class="menu">
                <p:menuitem value="Início" url="/pages/index.xhtml"/> 

                <p:menuitem value="Avisos" url="/pages/aviso.xhtml"/> 

                <p:menuitem value="Fórum" url="#"/>

                <p:menuitem value="Gestão de Usuários" url="/pages/pessoa.xhtml"/> 

                <p:menuitem value="Publicações" url="#"/> 

                <p:menuitem value="Disciplinas" url="/pages/disciplina.xhtml"/> 
                <p:menuitem value="Disciplinas SAAS" url="/pages/disciplinaService.xhtml"/> 

                <p:submenu label="Monitoria">
                    <p:menuitem value="Cadastrar Monitoria" url="/pages/monitoria.xhtml"/>
                    <p:menuitem value="Frequência" url="#"/>
                    <p:menuitem value="Ficha de Avaliação" url="#"/>
                    <p:menuitem value="Emissão de Certificado" url="#"/>
                    <p:menuitem value="Edital" url="/listDisciplina.xhtml"/>
                </p:submenu>              

                <p:menuitem value="Ajuda" url="#" />
                
                <f:facet name="options">
                    <!--                    <p:outputLabel value="Bem-Vindo(a), " />-->
                    <p:commandButton value="Sair" action="#{autenticacaoBean.sair}" styleClass="btn btn-danger"/>
                </f:facet>
            </p:menubar>
        </h:form>        
    </h:body>
</html>

