<?xml version="1.0" encoding= "ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <h:outputStylesheet library="css" name="estilos.css"/>
        <h:outputStylesheet library="css" name="estilo.css" />

        <title>
            <ui:insert name="titulo">Academicci</ui:insert>
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    </h:head>

    <h:body>
        <p:growl id="mensagem" />


        <div id="geral">            
            <div id="conteudo" >
                <ui:insert name="estado"/>
                <ui:insert name="cidade"/>
                <ui:insert name="cliente"/>
                <ui:insert name="fabricante"/>
                <ui:insert name="funcionario"/>
                <ui:insert name="pessoa"/>
                <ui:insert name="produto"/>
                <ui:insert name="usuario"/>
                <ui:insert name="vendas"/>
            </div>
        </div>

        <div class="menu"> 
            <ui:insert name="menu">
                <ui:include src="menu_page.xhtml" />
            </ui:insert>
        </div>

        <div class="corpo">
            <ui:insert name="corpo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus condimentum accumsan. Pellentesque vel ultricies lectus, eu pulvinar nulla. Vestibulum neque erat, egestas eu quam sed, condimentum euismod lacus. Nullam nibh diam, ornare at vehicula nec, eleifend quis nulla. Phasellus eget velit faucibus, lacinia massa ut, dapibus mi. Aenean rutrum et mauris euismod molestie. Fusce feugiat bibendum nunc, at dictum lectus tincidunt ac. Etiam nibh diam, porttitor vel turpis quis, placerat vestibulum ipsum. Donec nec dignissim ligula.

                Integer quis libero ligula. Morbi vulputate ipsum in suscipit venenatis. Proin nulla purus, egestas id posuere eget, faucibus nec sem. In eget rutrum turpis. Mauris iaculis pretium ipsum id commodo. Ut imperdiet leo lorem. Integer porta mattis arcu ac mollis. Nulla sit amet nisi et justo cursus efficitur. Maecenas in tortor ante.

                Donec venenatis leo ac justo faucibus, et condimentum ante vestibulum. Duis non laoreet odio, a condimentum ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ex nibh, accumsan id lobortis ut, iaculis ut dolor. Pellentesque a aliquet nisl. Aenean id magna sed erat congue vehicula. Donec vehicula diam sit amet turpis placerat lacinia. Cras ornare, ante ut euismod auctor, tellus enim pulvinar dui, id pellentesque erat mauris quis ex. Donec ultricies elit in mi tempus molestie. Sed tempor nunc sem, ullamcorper viverra ipsum ultrices ut. Morbi eget turpis efficitur, varius lacus ut, laoreet lectus. Curabitur lacinia sit amet augue at ultrices.


            </ui:insert>
        </div>

    </h:body>
</html>