<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Admin Faces</title>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <h:outputStylesheet library="css" name="style.css"/>
<!--        <meta name="theme-color" content="#444"/>-->
    </h:head>

    <h:body styleClass="hold-transition login-page">
        <p:growl autoUpdate="true" sticky="true"/>
        <div id="loader" class="load-bar" style="display: none">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <p:dialog id="adminStatusDialog" modal="true" widgetVar="statusDialog" draggable="false" closable="false"
                  resizable="false" responsive="true" showHeader="false" appendTo="@(body)">
<!--            <p:graphicImage library="images" name="#{adminConfig.loadingImage}"/>-->
        </p:dialog>

        <div class="login-box">
            <div class="login-logo">
                <p:link href="index.xhtml"><b>Academicci</b></p:link>
            </div>
            <!-- /.login-logo -->
            <div class="box login-box-body">
                <h:form>
                    <p:messages closable="true" />
                    <div class="form-group has-feedback">
                        <p:inputText value="#{autenticacaoBean.usuario.matricula}" styleClass="form-control" placeholder="Matrícula"
                                     required="true" autocomplete="off" maxlength="7"
                                     requiredMessage="Matrícula é obrigatório."/>
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <p:inputText value="#{autenticacaoBean.usuario.senha}" type="password" styleClass="form-control"
                                     placeholder="Senha" required="true" autocomplete="off"
                                     requiredMessage="Senha é obrigatário."/>
                        <i class="fa fa-lock form-control-feedback" style="font-size: 18px" ></i>
                    </div>
                    <div class="row">
                        <p:spacer height="10"/>
                        <div class="col-xs-12">
                            <p:commandButton styleClass="btn btn-success btn-block" onclick="showBar()"
                                             actionListener="#{autenticacaoBean.autenticar}" oncomplete="if(args.validationFailed) { hideBar()}"
                                             value="Login" process="@form" update="@form"/>
                        </div>
                    </div>
                </h:form>              

                <a href="#">Esqueci minha senha</a><br/>

            </div>
            <!-- /.login-box-body -->
        </div>

        <!--        <h:outputScript library="js" name="prism.js"  target="head"/>
                <h:outputScript library="js" name="admintemplate.js"  target="head"/>-->
        <!--        <adm:ripple/>-->

    </h:body>
</html>