<?xml version="1.0" encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>
    </h:head>
    <h:body>
        <p:growl id="mensagem" />

        <p:dialog header="Login" closable="false" draggable="false"
                  resizable="false" modal="true" visible="true">
            <h:form>
                <h:panelGrid columns="1">
<!--                    <p:outputLabel for="matricula" value="Matrícula:" />-->
                    <p:inputText  size="20"
                                 placeholder="Matrícula"
                                 required="true" requiredMessage="O campo 'Matrícula' é obrigatório!"
                                 value="#{autenticacaoBean.usuario.matricula}"/>
                    
<!--                    <p:outputLabel for="senha" value="Senha:" />-->
                    <p:password  maxlength="8" size="20" required="true"
                                placeholder="Senha"
                                requiredMessage="O campo 'Senha' é obrigatório"
                                value="#{autenticacaoBean.usuario.senha}" />
                </h:panelGrid>

                <h:panelGrid columns="1">
                    <div>
                        <a href="#">Esqueci minha senha</a> 
                    </div>
                    <p:commandButton value="Entrar" update=":mensagem"
                                     actionListener="#{autenticacaoBean.autenticar}"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>