<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="metadata">
        <ui:param name="title" value="Avisos"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Encontre todos os avisos existentes
    </ui:define>

    <ui:define name="body">
        <!--<p:growl id="mensagem" />-->
        <h:form id="formListagem">

            <div class="box box-primary">

                <div class="box-header with-border">

                    <div id="main-buttons" class="hidden-sm hidden-xs">


                        <p:commandButton icon="fa fa-plus" value="Cadastrar Aviso" styleClass="btn-primary"
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{avisoBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>

                        <p:spacer width="5"/>                     

                    </div>

                    <p:separator/>

                    <p:dataTable emptyMessage="Nenhum registro encontrado."
                                 paginator="true" value="#{avisoBean.avisos}" 
                                 var="aviso" rows="10" id="tabela">

                        <p:column headerText="Assunto" sortBy="#{aviso.assunto}">
                            <h:outputText value="#{aviso.assunto}"/>
                        </p:column>

                        <p:column headerText="Descrição" sortBy="#{aviso.descricao}">
                            <h:outputText value="#{aviso.descricao}"/>
                        </p:column>

                        <p:column headerText="Monitoria" sortBy="#{aviso.monitoria.nome}">
                            <h:outputText value="#{aviso.monitoria.nome}" />
                        </p:column>

                        <p:column headerText="Data" sortBy="#{aviso.dtAviso}">
                            <h:outputText value="#{aviso.dtAviso}"/>
                        </p:column>

                        <p:column headerText="Autor" sortBy="#{aviso.pessoa.nome}">
                            <h:outputText value="#{aviso.pessoa.nome}"/>
                        </p:column>

                        <p:column headerText="Opções">

                            <p:commandButton icon="fa fa-edit" styleClass="btn-primary"
                                             actionListener="#{avisoBean.editar}"
                                             update=":formCadastro:pnCadastro"
                                             oncomplete="PF('dialogo').show();">
                                <f:attribute name="avisoSelecionado" value="#{aviso}" />
                                <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                            </p:commandButton>

                            <p:commandButton icon="fa fa-trash" styleClass="btn-danger"
                                             actionListener="#{avisoBean.excluir}"
                                             update=":formListagem:tabela">
                                <p:confirm header="Confirmação" 
                                           message="Deseja excluir o Aviso?"
                                           icon="fa fa-exclamation-circle" />
                                <f:attribute name="avisoSelecionada" value="#{aviso}" />

                            </p:commandButton>

                        </p:column>
                    </p:dataTable>

                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


        <p:dialog header="Cadastrar Aviso" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" 
                  closable="false" appendTo="@(body)">

            <h:form id="formCadastro">

                <h:panelGrid columns="2" id="pnCadastro">

                    <p:outputLabel for="pessoa" value="Autor" />

                    <p:selectOneMenu filter="true" id="pessoa"
                                     value="#{avisoBean.aviso.pessoa}" required="true"
                                     requiredMessage="O campo Autor é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Atribuir um autor" />
                        <f:selectItems value="#{avisoBean.pessoas}" var="pess"
                                       itemValue="#{pess}" itemLabel="#{pess.nome}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="monitoria" value="Monitoria" />

                    <p:selectOneMenu filter="true" id="monitoria"
                                     value="#{avisoBean.aviso.monitoria}" required="true"
                                     requiredMessage="O campo Monitoria é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Selecione um Destinatário" />
                        <f:selectItems value="#{avisoBean.monitorias}" var="monitoria"
                                       itemValue="#{monitoria}" itemLabel="#{monitoria.nome}" />
                    </p:selectOneMenu>
                    
                    <p:outputLabel for="descricao" value="Descrição" />
                    <p:inputText id="descricao" 
                                 maxlength="500" size="50" 
                                 value="#{avisoBean.aviso.descricao}"
                                 required="true" 
                                 requiredMessage="O campo 'Descrição' é obrigatório!"/>
                    
                    <p:outputLabel for="assunto" value="Assunto" />
                    <p:inputText id="assunto" 
                                 maxlength="100" size="50" 
                                 value="#{avisoBean.aviso.assunto}"
                                 required="true" 
                                 requiredMessage="O campo 'Assunto' é obrigatório!"/>

                    <p:outputLabel for="dtAviso" value="Data" />
                    <p:calendar id="dtAviso"
                                pattern="dd-MM-yyyy"
                                yearRange="c-60:c+0"
                                navigator="true"
                                showOn="button"
                                value="#{avisoBean.aviso.dtAviso}" required="true"
                                requiredMessage="O campo de data é obrigatório"
                                size="20" locale="pt_BR" />

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{avisoBean.salvar}" styleClass="btn-primary"
                                     update=":formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" styleClass="btn-danger"/>
                </h:panelGrid>

            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>