<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/modelo.xhtml">

    <ui:define name="titulo">Avisos</ui:define>

    <ui:define name="corpo">
        <h:outputLabel>#{autenticacaoBean.usuarioLogado.nome}</h:outputLabel>
        <h:form id="formListagem">
            
            <p:panel header="Avisos">
                <p:dataTable emptyMessage="Nenhum registro encontrado."
                             paginator="true" value="#{avisoBean.avisos}" 
                             var="aviso" rows="10" id="tabela">
                    <f:facet name="header">
                        <p:commandButton icon="fa fa-plus" value="Cadastrar Aviso" 
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{avisoBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </f:facet>

                    <p:column headerText="Assunto" sortBy="#{aviso.assunto}">
                        <h:outputText value="#{aviso.assunto}"/>
                    </p:column>
                    <p:column headerText="Descrição" sortBy="#{aviso.descricao}">
                        <h:outputText value="#{aviso.descricao}"/>
                    </p:column>
                    <p:column headerText="Monitoria" sortBy="#{aviso.monitoria.nome}">
                        <h:outputText value="#{aviso.monitoria.nome}"/>
                    </p:column>
                    <p:column headerText="Data" sortBy="#{aviso.dtAviso}">
                        <h:outputText value="#{aviso.dtAviso}"/>
                    </p:column>
                    <p:column headerText="Autor" sortBy="#{aviso.pessoa.nome}">
                        <h:outputText value="#{aviso.pessoa.nome}"/>
                    </p:column>

                    <p:column headerText="Opções">
                        <p:commandButton icon="fa fa-remove"
                                         actionListener="#{avisoBean.excluir}"
                                         update=":mensagem :formListagem:tabela">
                            <p:confirm header="Confirmação"
                                       message="Deseja excluir a Cidade ?" icon="ui-icon-alert" />
                            <f:attribute name="avisoSelecionado" value="#{aviso}" />
                        </p:commandButton>

                        <p:commandButton icon="fa fa-edit" styleClass="btn"
                                         actionListener="#{avisoBean.editar}"
                                         oncomplete="PF('dialogo').show();"
                                         update=":formCadastro:pnCadastro">
                            <f:attribute name="avisoSelecionado" value="#{aviso}" />
                            <f:actionListener
                                type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true">
                    <p:commandButton value="Sim" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="Não" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:panel>
        </h:form>

        <p:dialog header="Cadastrar Aviso" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
            <h:form id="formCadastro">
                <h:panelGrid columns="2" id="pnCadastro">
          
                    <p:outputLabel value="Autor" for="pessoa" />
                    <p:selectOneMenu filter="true" 
                                     id="pessoa"
                                     value="#{avisoBean.aviso.pessoa}" required="true"
                                     requiredMessage="O campo Autor é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Atribuir um autor" />
                        <f:selectItems value="#{avisoBean.pessoas}" var="pess"
                                       itemValue="#{pess}" itemLabel="#{pess.nome}" />
                    </p:selectOneMenu>
                    
                    <p:outputLabel value="Monitoria" for="monitoria" />
                    <p:selectOneMenu filter="true" 
                                     id="monitoria"
                                     value="#{avisoBean.aviso.monitoria}" required="true"
                                     requiredMessage="O campo Destinatário é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Selecione um Destinatário" />
                        <f:selectItems value="#{avisoBean.monitorias}" var="monitoria"
                                       itemValue="#{monitoria}" itemLabel="#{monitoria.nome}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="assunto" value="Assunto:" />
                    <p:inputText id="assunto" 
                                 maxlength="100" size="50" 
                                 value="#{avisoBean.aviso.assunto}"
                                 required="true" 
                                 requiredMessage="O campo 'Assunto' é obrigatório!"/>
                    
                    <p:outputLabel for="descricao" value="Descrição:" />
                    <p:inputText id="descricao" 
                                 maxlength="100" size="50" 
                                 value="#{avisoBean.aviso.descricao}"
                                 required="true" 
                                 requiredMessage="O campo 'Descrição' é obrigatório!"/>

                    <p:outputLabel for="dtAviso" value="Data:" />
                    <p:calendar id="dtAviso"
                                pattern="dd-MM-yyyy"
                                yearRange="c-60:c+0"
                                navigator="true"
                                showOn="button"
                                value="#{avisoBean.aviso.dtAviso}" required="true"
                                requiredMessage="O campo de data é obrigatório"
                                size="20" locale="pt_BR" />

<!--                    <p:outputLabel value="Remetente:" />
                    <p:selectOneMenu filter="true" id="nome"
                                     value="#{autenticacaoBean.usuarioLogado.nome}" required="true"
                                     requiredMessage="O campo Disciplina é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Remetente:" />
                        <f:selectItems value="#{autenticacaoBean.usuarioLogado.nome}" var="nome"
                                       itemValue="#{autenticacaoBean.usuarioLogado}" itemLabel="#{autenticacaoBean.usuarioLogado.nome}" />
                    </p:selectOneMenu>-->

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{avisoBean.salvar}" 
                                     update=":mensagem :formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>