<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="metadata">
        <ui:param name="title" value="Disciplinas"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Encontre todas as disciplinas existentes
    </ui:define>

    <ui:define name="body">
<!--        <p:growl id="mensagem" />-->
        <h:form id="formListagem">

            <div class="box box-primary">

                <div class="box-header with-border">

                    <div id="main-buttons" class="hidden-sm hidden-xs">


                        <p:commandButton icon="fa fa-plus" value="Cadastrar Disciplina" styleClass="btn-primary"
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{disciplinaBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>

                        <p:spacer width="5"/>                     

                    </div>

                    <p:separator/>

                    <p:dataTable emptyMessage="Nenhum registro encontrado."
                                 paginator="true" value="#{disciplinaBean.disciplinas}" 
                                 var="disciplina" rows="10" id="tabela">

                        <p:column headerText="Nome" sortBy="#{disciplina.nome}">
                            <h:outputText value="#{disciplina.nome}"/>
                        </p:column>


                        <p:column headerText="Período" sortBy="#{disciplina.periodo}">
                            <h:outputText value="#{disciplina.periodo}" />
                        </p:column>

                        <p:column headerText="Status" sortBy="#{disciplina.statusFormatado}">
                            <h:outputText value="#{disciplina.statusFormatado}" />
                        </p:column>

                        <p:column headerText="Opções">
                            <p:commandButton icon="fa fa-edit" styleClass="btn-primary"
                                             actionListener="#{disciplinaBean.editar}"
                                             update=":formCadastro:pnCadastro"
                                             oncomplete="PF('dialogo').show();">
                                <f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
                                <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                            </p:commandButton>

                            <p:commandButton icon="fa fa-trash" styleClass="btn-danger"
                                             actionListener="#{disciplinaBean.excluir}"
                                             update=":formListagem:tabela">
                                <p:confirm header="Confirmação" message="Deseja excluir a Disciplina?"
                                           icon="fa fa-exclamation-circle" />
                                <f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
                            </p:commandButton>

                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


        <p:dialog header="Cadastrar Disciplina" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
            <h:form id="formCadastro">
                <h:panelGrid columns="2" id="pnCadastro">
                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" maxlength="100" size="50" value="#{disciplinaBean.disciplina.nome}"
                                 required="true" requiredMessage="O campo 'Nome' é obrigatório!"/>


                    <p:outputLabel for="periodo" value="Período:" />
                    <p:selectOneMenu id="periodo" value="#{disciplinaBean.disciplina.periodo}"
                                     required="true" requiredMessage="O campo 'Período' é obrigatório!">
                        <f:selectItem noSelectionOption="true" itemLabel="Selecione o período" />
                        <f:selectItem itemValue="1" itemLabel="1º Período"  />
                        <f:selectItem itemValue="2" itemLabel="2º Período"  />
                        <f:selectItem itemValue="3" itemLabel="3º Período"  />
                        <f:selectItem itemValue="4" itemLabel="4º Período"  />
                        <f:selectItem itemValue="5" itemLabel="5º Período"  />
                        <f:selectItem itemValue="6" itemLabel="6º Período"  />
                        <f:selectItem itemValue="7" itemLabel="7º Período"  />
                        <f:selectItem itemValue="8" itemLabel="8º Período"  />
                        <f:selectItem itemValue="9" itemLabel="9º Período"  />
                        <f:selectItem itemValue="10" itemLabel="10º Período"  />
                    </p:selectOneMenu>

                    <p:outputLabel for="ativo" value="Ativo: " />
                    <p:selectBooleanCheckbox id="ativo"
                                             value="#{disciplinaBean.disciplina.status}" required="true"
                                             requiredMessage="O campo 'Status' é obrigatório!" />

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{disciplinaBean.salvar}" styleClass="btn-primary"
                                     update=":formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" styleClass="btn-danger"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
