<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/modelo.xhtml">

    <ui:define name="titulo">Disciplina</ui:define>

    <ui:define name="corpo">
        <h:form id="formListagem">
            <p:panel header="Disciplina">
                <p:dataTable emptyMessage="Nenhum registro encontrado."
                             paginator="true" value="#{disciplinaServiceBean.disciplinas}" 
                             var="disciplina" rows="10" id="tabela">
                    <f:facet name="header">
                        <p:commandButton icon="fa fa-plus" value="Cadastrar Disciplina" 
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{disciplinaServiceBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </f:facet>

                    <p:column headerText="Nome" sortBy="#{disciplina.nome}">
                        <h:outputText value="#{disciplina.nome}"/>
                    </p:column>

                    <p:column headerText="Período" sortBy="#{disciplina.periodo}">
                        <h:outputText value="#{disciplina.periodo}" />
                    </p:column>

                    <p:column headerText="Status" sortBy="#{disciplina.statusFormatado}">
                        <h:outputText value="#{disciplina.statusFormatado}" />
                    </p:column>

                    <p:column headerText="Opções">
                        <p:commandButton icon="fa fa-remove"
                                         actionListener="#{disciplinaServiceBean.excluir}"
                                         update=":mensagem :formListagem:tabela">
                            <p:confirm header="Confirmação" message="Deseja excluir a Disciplina?"
                                       icon="fa fa-exclamation-circle" />
                            <f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
                        </p:commandButton>

                        <p:commandButton icon="fa fa-edit"
                                         actionListener="#{disciplinaServiceBean.editar}"
                                         update=":formCadastro:pnCadastro"
                                         oncomplete="PF('dialogo').show();">
                            <f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>

                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true">
                    <p:commandButton value="Sim" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="Não" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:panel>
        </h:form>

        <p:dialog header="Cadastrar Disciplina" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
            <h:form id="formCadastro">
                <h:panelGrid columns="2" id="pnCadastro">
                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" maxlength="100" size="50" value="#{disciplinaServiceBean.disciplina.nome}"
                                 required="true" requiredMessage="O campo 'Nome' é obrigatório!"/>


                    <p:outputLabel for="periodo" value="Período:" />
                    <p:selectOneMenu id="periodo" value="#{disciplinaServiceBean.disciplina.periodo}"
                                     required="true" requiredMessage="O campo 'Período' é obrigatório!">
                        <f:selectItem noSelectionOption="true" itemLabel="Selecione o período" />
                        <f:selectItem itemValue="1" itemLabel="1º Período"  />
                        <f:selectItem itemValue="2" itemLabel="2º Período"  />
                        <f:selectItem itemValue="3" itemLabel="3º Período"  />
                        <f:selectItem itemValue="4" itemLabel="4º Período"  />
                        <f:selectItem itemValue="5" itemLabel="5º Período"  />
                        <f:selectItem itemValue="6" itemLabel="6º Período"  />
                        <f:selectItem itemValue="7" itemLabel="7º Período"  />
                        <f:selectItem itemValue="8" itemLabel="8º Período"  />
                        <f:selectItem itemValue="9" itemLabel="9º Período"  />
                        <f:selectItem itemValue="10" itemLabel="10º Período"  />
                    </p:selectOneMenu>

                    <p:outputLabel for="ativo" value="Ativo: " />
                    <p:selectBooleanCheckbox id="ativo"
                                             value="#{disciplinaServiceBean.disciplina.status}" required="true"
                                             requiredMessage="O campo 'Status' é obrigatório!" />

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{disciplinaServiceBean.salvar}" 
                                     update=":mensagem :formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>