<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/template.xhtml">

    <ui:param name="renderBreadCrumb" value="false"/>

    <ui:define name="title">
        <h2 class="align-center">          
            Bem-vindo ao Sistema Academicci!
            <br/>
            <br/>
        </h2>

        <p:panel id="box-colors-panel" header="Recado dos Administradores" styleClass="box-primary">
            <h:panelGrid>
                Este é um ambiente para que você se sinta confortável para estudar, tirar dúvidas e aprender com seus amigos. <br /> 
                A partir de agora, você será apresentado a uma nova experiência de gerenciamento de monitorias, esperamos que você goste e aproveite cada momento de estudo.
                
                <br /><br />
                Vá até ao menu e divirta-se! Até a próxima
                <br /><br />
                Atenciosamente, <br />
                Equipe Academicci
            </h:panelGrid>
        </p:panel>

    </ui:define>


</ui:composition>
