<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/modelo.xhtml">

    <ui:define name="titulo">Monitorias</ui:define>

    <ui:define name="corpo">
        <h:form id="formListagem">
            <p:panel header="Monitorias">
                <p:dataTable emptyMessage="Nenhum registro encontrado."
                             paginator="true" value="#{monitoriaBean.monitorias}" 
                             var="monitoria" rows="10" id="tabela">
                    <f:facet name="header">
                        <p:commandButton icon="fa fa-plus" value="Cadastrar Monitoria" 
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{monitoriaBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </f:facet>

                    <p:column headerText="Monitoria" sortBy="#{monitoria.nome}">
                        <h:outputText value="#{monitoria.nome}"/>
                    </p:column>
                    <p:column headerText="Disciplina" sortBy="#{monitoria.disciplina.nome}">
                        <h:outputText value="#{monitoria.disciplina.nome}"/>
                    </p:column>

                    <p:column headerText="Opções">
                        <p:commandButton icon="fa fa-remove"
                                         actionListener="#{monitoriaBean.excluir}"
                                         update=":mensagem :formListagem:tabela">
                            <p:confirm header="Confirmação"
                                       message="Deseja excluir a Cidade ?" icon="ui-icon-alert" />
                            <f:attribute name="monitoriaSelecionada" value="#{monitoria}" />
                        </p:commandButton>

                        <p:commandButton icon="fa fa-edit" styleClass="btn"
                                         actionListener="#{monitoriaBean.editar}"
                                         oncomplete="PF('dialogo').show();" update=":formCadastro:pnCadastro">
                            <f:attribute name="monitoriaSelecionada" value="#{monitoria}" />
                            <f:actionListener
                                type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true">
                    <p:commandButton value="Sim" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="Não" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:panel>
        </h:form>

        <p:dialog header="Cadastrar Monitoria" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
            <h:form id="formCadastro">
                <h:panelGrid columns="2" id="pnCadastro">

                    <p:outputLabel value="Disciplina: " for="disciplina" />
                    <p:selectOneMenu filter="true" id="disciplina"
                                     value="#{monitoriaBean.monitoria.disciplina}" required="true"
                                     requiredMessage="O campo Disciplina é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Selecione uma Disciplina" />
                        <f:selectItems value="#{monitoriaBean.disciplinas}" var="disciplina"
                                       itemValue="#{disciplina}" itemLabel="#{disciplina.nome}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" maxlength="100" size="50" value="#{monitoriaBean.monitoria.nome}"
                                 required="true" requiredMessage="O campo 'Nome' é obrigatório!"/>

                        <p:outputLabel for="ativo" value="Ativo: " />
                        <p:selectBooleanCheckbox id="ativo"
                                                 value="#{monitoriaBean.monitoria.status}" required="true"
                                                 requiredMessage="O campo 'Status' é obrigatório!" />
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{monitoriaBean.salvar}" 
                                     update=":mensagem :formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>