<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="metadata">
        <ui:param name="title" value="Monitorias"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Encontre todas as monitorias existentes
    </ui:define>

    <ui:define name="body">
        <!--<p:growl id="mensagem" />-->
        <h:form id="formListagem">

            <div class="box box-primary">

                <div class="box-header with-border">

                    <div id="main-buttons" class="hidden-sm hidden-xs">


                        <p:commandButton icon="fa fa-plus" value="Cadastrar Monitoria" styleClass="btn-primary"
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{monitoriaBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>

                        <p:spacer width="5"/>                     

                    </div>

                    <p:separator/>

                    <p:dataTable emptyMessage="Nenhum registro encontrado."
                                 paginator="true" value="#{monitoriaBean.monitorias}" 
                                 var="monitoria" rows="10" id="tabela">

                        <p:column headerText="Monitoria" sortBy="#{monitoria.nome}">
                            <h:outputText value="#{monitoria.nome}"/>
                        </p:column>
                        
                        <p:column headerText="Disciplina" sortBy="#{monitoria.disciplina.nome}">
                            <h:outputText value="#{monitoria.disciplina.nome}"/>
                        </p:column>

                        <p:column headerText="Status" sortBy="#{monitoria.statusFormatado}">
                            <h:outputText value="#{monitoria.statusFormatado}" />
                        </p:column>

                        <p:column headerText="Opções">

                            <p:commandButton icon="fa fa-edit" styleClass="btn-primary"
                                             actionListener="#{monitoriaBean.editar}"
                                             update=":formCadastro:pnCadastro"
                                             oncomplete="PF('dialogo').show();">
                                <f:attribute name="monitoriaSelecionada" value="#{monitoria}" />
                                <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                            </p:commandButton>

                            <p:commandButton icon="fa fa-trash" styleClass="btn-danger"
                                             actionListener="#{monitoriaBean.excluir}"
                                             update=":formListagem:tabela">
                                <p:confirm header="Confirmação" 
                                           message="Deseja excluir a Monitoria?"
                                           icon="fa fa-exclamation-circle" />
                                <f:attribute name="monitoriaSelecionada" value="#{monitoria}" />

                            </p:commandButton>

                        </p:column>
                    </p:dataTable>

                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


        <p:dialog header="Cadastrar Monitoria" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" 
                  closable="false" appendTo="@(body)">

            <h:form id="formCadastro">

                <h:panelGrid columns="2" id="pnCadastro">

                    <p:outputLabel for="disciplina" value="Disciplina:" />

                    <p:selectOneMenu filter="true" id="disciplina"
                                     value="#{monitoriaBean.monitoria.disciplina}" required="true"
                                     requiredMessage="O campo Disciplina é obrigatório"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem noSelectionOption="true"
                                      itemLabel="Selecione uma Disciplina" />
                        <f:selectItems value="#{monitoriaBean.disciplinas}" var="disciplina"
                                       itemValue="#{disciplina}" itemLabel="#{disciplina.nome}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" maxlength="100" size="50" value="#{monitoriaBean.monitoria.nome}"
                                 required="true" requiredMessage="O campo 'Nome' é obrigatório!"/>

                    <p:outputLabel for="ativo" value="Ativo: " />
                    <p:selectBooleanCheckbox id="ativo"
                                             value="#{monitoriaBean.monitoria.status}" required="true"
                                             requiredMessage="O campo 'Status' é obrigatório!" />

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{monitoriaBean.salvar}" styleClass="btn-primary"
                                     update=":formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" styleClass="btn-danger"/>
                </h:panelGrid>

            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>