<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="metadata">
        <ui:param name="title" value="Usuários"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Encontre todos os usuários cadastradas
    </ui:define>

    <ui:define name="body">
<!--        <p:growl id="mensagem" />-->
        <h:form id="formListagem">

            <div class="box box-primary">

                <div class="box-header with-border">

                    <div id="main-buttons" class="hidden-sm hidden-xs">

                        <p:commandButton icon="fa fa-plus" value="Cadastrar Pessoa" styleClass="btn-primary"
                                         oncomplete="PF('dialogo').show();" 
                                         update=":formCadastro:pnCadastro"
                                         actionListener="#{pessoaBean.novo}">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>

                        <p:spacer width="5"/>                     

                    </div>
                    <p:separator/>

                    <p:dataTable emptyMessage="Nenhum registro encontrado."
                                 paginator="true" value="#{pessoaBean.pessoas}" 
                                 var="pessoa" rows="10" id="tabela">

                        <p:column headerText="Matrícula" sortBy="#{pessoa.matricula}">
                            <h:outputText value="#{pessoa.matricula}"/>
                        </p:column>

                        <p:column headerText="Nome" sortBy="#{pessoa.nome}">
                            <h:outputText value="#{pessoa.nome}"/>
                        </p:column>

                        <p:column headerText="Sexo" sortBy="#{pessoa.sexo}">
                            <h:outputText value="#{pessoa.sexo}"/>
                        </p:column>

                        <p:column headerText="Data de Nascimento" sortBy="#{pessoa.dtNasc}">
                            <h:outputText value="#{pessoa.dtNasc}"/>
                        </p:column>

                        <p:column headerText="E-mail" sortBy="#{pessoa.email}">
                            <h:outputText value="#{pessoa.email}"/>
                        </p:column>

                        <p:column headerText="CPF" sortBy="#{pessoa.cpf}">
                            <h:outputText value="#{pessoa.cpf}"/>
                        </p:column>

                        <p:column headerText="RG" sortBy="#{pessoa.rg}">
                            <h:outputText value="#{pessoa.rg}"/>
                        </p:column>

                        <p:column headerText="Número" sortBy="#{pessoa.ddd} #{pessoa.numero}">
                            <h:outputText value="#{pessoa.ddd} #{pessoa.numero}"/>
                        </p:column>

                        <p:column headerText="Status" sortBy="#{pessoa.statusFormatado}">
                            <h:outputText value="#{pessoa.statusFormatado}"/>
                        </p:column>

                        <p:column headerText="Opções">
                            <p:commandButton icon="fa fa-edit" styleClass="btn-primary"
                                             actionListener="#{pessoaBean.editar}"
                                             update=":formCadastro:pnCadastro"
                                             oncomplete="PF('dialogo').show();">
                                <f:attribute name="pessoaSelecionada" value="#{pessoa}" />
                                <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                            </p:commandButton>

                            <p:commandButton icon="fa fa-trash" styleClass="btn-danger"
                                             actionListener="#{pessoaBean.excluir}"
                                             update=":formListagem:tabela">
                                <p:confirm header="Confirmação" message="Deseja excluir a Pessoa?"
                                           icon="fa fa-exclamation-circle" />
                                <f:attribute name="pessoaSelecionada" value="#{pessoa}" />
                            </p:commandButton>

                        </p:column>
                    </p:dataTable>

                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


        <p:dialog header="Cadastrar Pessoa" widgetVar="dialogo" 
                  draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
            <h:form id="formCadastro">
                <h:panelGrid columns="2" id="pnCadastro">
                    <p:outputLabel for="matricula" value="Matrícula:" />
                    <p:inputText id="matricula" maxlength="7" size="50" value="#{pessoaBean.pessoa.matricula}"
                                 required="true" requiredMessage="O campo 'Matrícula' é obrigatório!"/>

                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" maxlength="100" size="50" value="#{pessoaBean.pessoa.nome}"
                                 required="true" requiredMessage="O campo 'Nome' é obrigatório!"/>

                    <p:outputLabel for="sexo" value="Sexo:" />
                    <p:selectOneMenu id="sexo" value="#{pessoaBean.pessoa.sexo}"
                                     required="true" requiredMessage="O campo 'Sexo' é obrigatório!">
                        <f:selectItem noSelectionOption="true" itemLabel="Selecione o sexo" />
                        <f:selectItem itemValue="M" itemLabel="Masculino"  />
                        <f:selectItem itemValue="F" itemLabel="Feminino"  />
                        <f:selectItem itemValue="I" itemLabel="Indefinido"  />
                    </p:selectOneMenu>

                    <p:outputLabel for="dtNasc" value="Data de Nascimento:" />
                    <p:calendar id="dtNasc"
                                pattern="dd-MM-yyyy"
                                yearRange="c-60:c+0"
                                showOn="button"
                                navigator="true"
                                value="#{pessoaBean.pessoa.dtNasc}" required="true"
                                requiredMessage="O campo de data de nascimento é obrigatório"
                                size="20" locale="pt_BR" />

                    <p:outputLabel for="email" value="E-mail:" />
                    <p:inputText id="email" maxlength="100" size="50" value="#{pessoaBean.pessoa.email}"
                                 required="true" validatorMessage="#{pessoaBean.pessoa.email} E-mail inválido " 
                                 requiredMessage="O campo 'E-mail' é obrigatório!">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.(com|net|org|edu)"/>
                        </p:inputText>                  

                        <p:outputLabel for="cpf" value="CPF:" />
                        <p:inputText id="cpf" maxlength="100" size="50" value="#{pessoaBean.pessoa.cpf}"
                                     required="true" requiredMessage="O campo 'CPF' é obrigatório!"/>

                        <p:outputLabel for="rg" value="RG:" />
                        <p:inputText id="rg" maxlength="100" size="50" value="#{pessoaBean.pessoa.rg}"
                                     required="true" requiredMessage="O campo 'RG' é obrigatório!"/>

                        <p:outputLabel for="ddd" value="DDD:" />
                        <p:inputText id="ddd" maxlength="2" size="50" value="#{pessoaBean.pessoa.ddd}"
                                     required="true" requiredMessage="O campo 'DDD' é obrigatório!"/>

                        <p:outputLabel for="numero" value="Número:" />
                        <p:inputText id="numero" maxlength="9" size="50" value="#{pessoaBean.pessoa.numero}"
                                     required="true" requiredMessage="O campo 'Número' é obrigatório!"/>

                        <p:outputLabel for="senha" value="Senha:" />
                        <p:password id="senha" maxlength="15" size="50" value="#{pessoaBean.pessoa.senhaSemCriptografia}"
                                    required="true" requiredMessage="O campo 'Senha' é obrigatório!"/>

                        <p:outputLabel for="ativo" value="Ativo: " />
                        <p:selectBooleanCheckbox id="ativo"
                                                 value="#{pessoaBean.pessoa.status}" required="true"
                                                 requiredMessage="O campo 'Status' é obrigatório!" />

                </h:panelGrid>

                <h:panelGrid columns="2">
                    <p:commandButton value="Salvar" actionListener="#{pessoaBean.salvar}" styleClass="btn-primary"
                                     update=":formCadastro:pnCadastro :formListagem:tabela"/>
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" styleClass="btn-danger" />
                </h:panelGrid>

            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
