<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ul class="sidebar-menu tree" data-widget="tree">
        <li>
            <p:link outcome="/pages/index" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Início</span>
            </p:link>
        </li>
        <li>
            <p:link href="#">
                <i class="fa fa-question"></i>
                <span>Ajuda</span>
            </p:link>
        </li>
        <li class="header">
            Gestão
        </li>
<!--        <li>
            <p:link href="#">
                <i class="fa fa-car"></i>
                <span>Cars</span>
            </p:link>
        </li>-->
        <li>
            <p:link outcome="/pages/pessoa">
                <i class="fa fa-user"></i>
                <span>Usuários</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/pages/disciplina">
                <i class="fa fa-book"></i>
                <span>Disciplina</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/pages/monitoria">
                <i class="fa fa-graduation-cap"></i>
                <span>Monitoria</span>
            </p:link>
        </li>
        <li>
            <p:link href="#">
                <i class="fa fa-calendar-check-o"></i>
                <span>Frequência</span>
            </p:link>
        </li>
        <li>
            <p:link href="#">
                <i class="fa fa-check-square-o"></i>
                <span>Avaliação</span>
            </p:link>
        </li>
        <li>
            <p:link href="#">
                <i class="fa fa-certificate"></i>
                <span>Certificados</span>
            </p:link>
        </li>
        <li>
            <p:link href="#">
                <i class="fa fa-file-text"></i>
                <span>Edital</span>
            </p:link>
        </li>
        
        <li class="header">
            Controle
        </li>
        <li>
            <p:link outcome="/pages/aviso">
                <i class="fa fa-bullhorn"></i>
                <span>Avisos</span>
            </p:link>
        </li>
<!--        <li class="treeview">
            <a href="#">
                <i class="fa fa-graduation-cap"></i>
                <span>Monitoria</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <p:link href="#">  colocar o outcome
                        <i class="fa fa-envelope"></i>
                        <span>Fórum de Discussão</span>
                    </p:link>
                    <p:link href="#">  colocar o outcome
                        <i class="fa fa-envelope"></i>
                        <span>Publicações</span>
                    </p:link>
                </li>
            </ul>
        </li>-->
    </ul>
</ui:composition>