@CHARSET "UTF-8";

.imagemCentralizada{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.divTopo{
	padding-bottom: 0.5%;
}
.divCabecalho{
	margin-bottom: 0.5%;
}
.ui-widget, .ui-widget .ui-widget {
	font-size: 99% !important;
}