@charset "utf-8";

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

.textoDisciplina {
    font-family: 'K2D', sans-serif!important;
}

/*===== inicio ESTRUTURA PRINCIPAL =====*/
html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
/*    background:url(../resources/images/bg.jpg) no-repeat center top #310b28;
    background-size: 100%;*/
background-color: 
    width: 100%;
    height: 99%;
    font-size: 14px;
    margin: 0px;
}

.topo_page {
/*        background-color: #7D1064 !important;*/
    width: auto;
    padding-top: 20px !important;
    height: 80px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 0px;
}

.corpo {
    /*    background-color: #76ff03;*/
    padding-top: 10px;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    color: #333333;
}

.rodape {
    /*    background-color: pink;*/
    width: auto;
    border-top: 2px solid #ccc;
    padding: 20px 8px;
    margin: auto;
    position: relative; 
    bottom: -50%;
    left: 0;
    right: 0;
}
.rodape_login {
    /*    background-color: pink;*/
    width: auto;
    border-top: 2px solid #9d3384;
    padding: 20px 8px;
    margin: auto;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
}

#texto_rodape {
    text-align:center;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: white;
}

/*===== fim ESTRUTURA PRINCIPAL =====*/


/*===== inicio LOGIN PAGE =====*/
#logo_login {
    width: 300px;
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
    margin-top: 5px;
    margin-left: 10px;
}

.area_login {
    /*    background-color: green;*/
    width: 350px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);   
    font-family: 'Roboto', sans-serif !important;
}

.links {
    text-decoration: none; 
}

#box_botoes {
    /*        background-color: red !important;*/
    width: 270px;
    position: relative;
    right: -90px;   
    position: relative;
    padding-left: 10px;
}
/*===== fim LOGIN PAGE =====*/


.botoes_cad{
    /*    background-color: red !important;*/
    width: 300px;
    position: relative !important;
    bottom: 10px !important; 
    left: 470px !important;
    padding: 10px 10px;
    margin-left: 70px;   
}

#logo {
    width: 200px;
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}
#texto_intro {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
}

/*===== incio OVERRIDE PRIMEFACES =====*/
.ui-inputtext {
    border-radius: 2px !important;
    border: 1px solid #7156ff;

}
.ui-password {
    border-radius: 2px !important;
    border: 1px solid #7156ff;
}

.ui-inputfield {
    color: black !important;
}



.ui-button-text {
    color: white;
    font-size: 16pt;
}

.ui-button {
/*    background: #9d3384 !important;*/
    border-style: none !important;
    border-radius: 2px !important;
}

.ui-menuitem-text{
    /*    color: red;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt !important; 
    color: white !important;
    font-weight: bold;
}

.ui-menuitem {
    margin: 0px 10px 0px !important
}

.ui-menu-list {
     background: #44B4FF !important;
}
.ui-menubar{
        background: #44B4FF !important;
    margin-top: 20px;
    padding: 20px 0px 10px 10px !important;
    border-radius: 0px !important;
    border-style: none none !important;
}

.btn_logout{
    background-color: white !important;
    border-radius: 10px !important;
}

/*.btn_logout .ui-button-text{
    color: black !important;
}*/
/*===== fim OVERRIDE PRIMEFACES =====*/


/*NÃO USADO*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #050505;
    padding: 5px 20px;
    position:absolute;
    top:-20.5px;
    left:80px;
    margin:0px;
    padding:0px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #ebebeb 50%,
        #dbdbdb 50%,
        #9bcde0);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ebebeb),
        color-stop(0.50, #dbdbdb),
        to(#9bcde0));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #354c7a;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #050505;
    padding: 5px 20px;
    position:absolute;
    top:10px;
    left:2px;
    margin:0px;
    padding:0px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #ebebeb 50%,
        #dbdbdb 50%,
        #9bcde0);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ebebeb),
        color-stop(0.50, #dbdbdb),
        to(#9bcde0));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #354c7a;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}

#texto_topo{
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: black;
    text-align: right;
    position: relative;
    margin-top: 0px;
    top: 50%;
    transform: translate(0%,-50%);
}

.center1{
    position:absolute;
    left:45%;
    top:25%;
    margin-left:-110px;
    margin-top:-40px;
}
