/* Your custom styles */

body{
    height: 500px;
}

h1{
    font-size:180px;
}

@media (max-width: 768px) {

    body div.ui-growl {
        display: none;
    }

    body div.ui-messages {
        display: block;
    }

}
/* below css hides messages in medium/big devices and makes growl visible in such devices */
@media (min-width: 769px) {
    body div.ui-growl {
        display: block;
    }

    body div.ui-messages {
        display: none;
    }
}


body.login-page {
    background-color: transparent;
    background-size: 50%;
}

html {
    background: url(#{resource[ 'images:login-bg.jpg' ]}) no-repeat center center fixed;
    background-size: 100% 100%;  
}